*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}


body{

background:
linear-gradient(
rgba(0,0,0,.55),
rgba(0,0,0,.8)
),
url("background.jpg");

background-size:cover;
background-position:center;
background-attachment:fixed;

color:white;
text-align:center;

}



.hero{

height:100vh;
display:flex;
justify-content:center;
align-items:center;

}



.card{

background:rgba(255,255,255,.12);

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.2);

padding:40px;

border-radius:30px;

box-shadow:
0 0 30px #00eaff,
0 0 60px #ff00dd;

animation:float 4s infinite;

}



@keyframes float{

50%{
transform:translateY(-15px);
}

}



.profile{

width:170px;
height:170px;

border-radius:50%;

object-fit:cover;

border:5px solid #00eaff;

box-shadow:
0 0 25px #00eaff;

}



h1{

margin-top:20px;

font-size:40px;

background:linear-gradient(
90deg,#00eaff,#ff00dd
);

-webkit-background-clip:text;

color:transparent;

}



h3{

margin:10px;

}



.buttons{

margin-top:25px;

display:flex;

flex-wrap:wrap;

justify-content:center;

gap:15px;

}



.btn{

padding:14px 25px;

border-radius:30px;

text-decoration:none;

color:white;

font-weight:bold;

transition:.3s;

}



.btn:hover{

transform:scale(1.1);

}



.tiktok{

background:#000;

border:2px solid #00ffff;

}



.whatsapp{

background:#25D366;

}



.call{

background:#007bff;

}



.email{

background:#ff0055;

}



.section{

padding:60px 20px;

background:rgba(0,0,0,.5);

}



.section h2{

font-size:35px;

margin-bottom:20px;

color:#00eaff;

}



.stats{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:30px;

padding:50px;

}



.stats div{

background:rgba(255,255,255,.12);

padding:30px;

border-radius:20px;

box-shadow:0 0 20px #ff00dd;

}



.stats h2{

font-size:35px;

}



.gallery{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:20px;

}



.gallery img{

width:250px;

height:250px;

object-fit:cover;

border-radius:20px;

transition:.4s;

}



.gallery img:hover{

transform:scale(1.08);

box-shadow:0 0 30px #00eaff;

}



footer{

padding:20px;

background:black;

}



@media(max-width:600px){

h1{

font-size:30px;

}


.card{

margin:20px;

padding:25px;

}

  .facebook{
background:#1877f2;
box-shadow:0 0 15px #1877f2;
}

.youtube{
background:#ff0000;
box-shadow:0 0 15px #ff0000;
}


.profile{

width:130px;
height:130px;

}

}
